.form-card{

background:white;
padding:30px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);

}

label{

font-size:14px;
margin-bottom:5px;

}

.form-control,
.form-select{

border-radius:10px;
padding:10px;

}

button{

padding:12px 25px;

}
